.top{
   .title{
    p{
        color: white;
        text-align: center;
        padding-top: 100px;
        font-size: xx-large;
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   }
   
   .imgdiv{  
    img{
       width: 300px;
       height: 300px;
       padding-left: 150px;
       padding-top: 50px;
       padding-bottom: 50px;
    }
   }
   .content{
    margin-top: -400px;
    margin-left: 500px;
   .titles{
    margin-top: 50px;
    color: white;
    p{
        text-indent: 60px;
        margin-top: 20px;
        width: 550px;
        font-size: 20px;
        text-align: justify;
    }
   }
   }
}

// media query

@media (min-width: 768px) and (max-width: 1024px){
    .top{
        margin-left: -80px;
       .imgdiv{
        img{
            width: 250px;
            height: 250px;
        }
       }
       .content{
        margin-left: 450px;
        margin-top: -360px;
       .titles{
        p{
            width:410px;
        }
       }
       }
    }
}


@media (min-width: 480px) and (max-width: 768px){
    .top{
        margin-left: -80px;
       .imgdiv{
        img{
            width: 600px;
            height: 300px;
        }
       }
       .content{
        margin-left: 150px;
        margin-top: 50px;
       .titles{
        p{
            width: 600px;
        }
       }
       }
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .top{
       .imgdiv{
        img{
            margin-left: -100px;
            width: 300px;
            height: 200px;
        }
       }
       .content{
        margin-left: 20px;
        margin-top: 50px;
       .titles{
        p{
            width: 350px;
        }
       }
       }
    }
}